<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)='back()'>
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>活動</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="bg-l padding-bottom-5">
    <div class="text-center padding-top-20 txt-black txt-bold">個案資料</div>
    <div class="margin-20">
      <div class="flex-row">
        <div class="title">檔案編號:</div>
        <div>{{casedata.CaseNo}}</div>
      </div>
      <div class="flex-row margin-top-10">
        <div class="title">姓名:</div>
        <div>{{casedata.ChiName_Disply}}</div>
      </div>
      <div class="flex-row margin-top-10  flex-center">
        <div class="title">所患疾病:</div>
        <div class="flex-1">
          <div class="textarea radius-2 bg-white h7-5 padding-5" style="width:100%;">
            {{casedata.Illness_Disply}}
          </div>

        </div>

      </div>

      <div class="flex-row margin-top-10  flex-center">
        <div class="title">其他疾病:</div>
        <div class="flex-1">
          <div class="textarea radius-2 bg-white h7-5 padding-5" style="width:100%;">
            {{casedata.OtherIllness_Disply}}
          </div>

        </div>
      </div>
      <div class="flex-row margin-top-10  flex-center">
        <div class="title">照顧計劃:</div>
        <div class="flex-1">
          <div class="textarea1 radius-2 bg-white h7-5 padding-5" style="width:100%;">
            {{casedata.CarePlan_Disply}}
          </div>

        </div>
      </div>
    </div>

  </div>
  <!-- 未上传 -->
  <div class="bg-h padding-bottom-5" *ngIf="activity.Status==2">
    <div class="text-center padding-top-20 txt-black txt-bold">活動內容</div>
    <div class="margin-20">
      <div class="flex-row">
        <div class="title2">活動日期:</div>
        <div class="flex-1">
          <div class="radius-2" style="width:100%; ">
            <div class="bg-white">
              <ion-datetime placeholder="{{activity.ActDate_Display}}" displayFormat="DD-MM-YYYY "
                picker-format="DD MM YYYY " style="height:25px;padding:2px;--placeholder-color:#000;" max="2050-12-09"
                done-text='确定' cancel-text='取消' [(ngModel)]="activityDate"></ion-datetime>
            </div>
            <!-- <div class="input_s radius-2 bg-white padding-left-5" *ngIf="activity.SavedStatus==0" style="width:100%;">
              {{activity.ActDate_Display}}
            </div> -->
          </div>
        </div>

      </div>
      <div class="flex-row margin-top-10  flex-center">
        <div class="title2">活動時間:</div>
        <div class="flex-1">
          <div class="bg-white">
            <ion-datetime placeholder="{{activity.ActStartTime}}" displayFormat="hh：mm" picker-format="hh：mm"
              style="height:25px;padding:2px;--placeholder-color:#000;" max="2050-12-09" done-text='确定' cancel-text='取消'
              [(ngModel)]="activityStartTime2"></ion-datetime>
          </div>

        </div>
        <div class="margin-5">至</div>
        <div class="flex-1">
          <div class="bg-white">
            <ion-datetime placeholder="{{activity.ActEndTime}}" displayFormat="hh：mm" picker-format="hh：mm"
              style="height:25px;padding:2px;--placeholder-color:#000;" max="2050-12-09" done-text='确定' cancel-text='取消'
              [(ngModel)]="activityEndTime2"></ion-datetime>
          </div>

        </div>
      </div>
      <div class="flex-row margin-top-10">
        <div class="title2">出席義工:</div>
        <div><img src="../assets/icon/plus_icon.png" class="icon-15 margin-left-30" /></div>
        <div style="position:absolute;margin-left:76px;background:transparent" class="aaa">
          <ion-select multiple="true" (ionChange)="aas()" style="position:absolute;background:transparent;opacity: 0;"
            [(ngModel)]="PresentVolunteerList">
            <ion-select-option *ngFor="let item of Volunteer;let idx=index;" value="{{item.VolId}}" >
              {{item.VolunteerName}}</ion-select-option>
          </ion-select>
        </div>
      </div>

      <div class=" margin-top-10">
        <div class="flex-1">
          <div class="textarea2 radius-2 bg-white h7-5 padding-5" style="width:100%;">
            {{Volunteerlist_show}}
          </div>

        </div>

      </div>

      <div class=" margin-top-10  ">
        <div class="title">活動內容:</div>
        <ion-radio-group>
          <div class=" margin-top-10 flex-row flex-center">

            <ion-radio name="activity" value="male" class="radio " (click)="getActtype('1')"
              checked="{{activity.ActType=='1'?'true':'false'}}"></ion-radio>活動
          </div>
          <div class="margin-left-30 margin-right-20">

            <div class="">
              <div class=" margin-top-10 flex-row flex-center">
                <ion-checkbox class="radio " color="secondary" name="sex"
                  [checked]='actDetailTypelist[0].actDetailType==true'
                  (ionChange)='actDetailTypelist[0].actDetailType=$event.detail.checked'
                  disabled='{{activity.ActType==2?disabled:false}}'></ion-checkbox> 參觀病人資源中心
              </div>
              <div class=" margin-top-10 flex-row flex-center" *ngIf="actDetailTypelist[0].actDetailType==true">活動地點:
                <div class="flex-1">
                  <input class="radius-2 other-input" placeholder="輸入最多50字" style=" width: 100%;" maxlength="50"
                    [(ngModel)]="remarks1" />
                </div>
              </div>
            </div>
            <div class="">
              <div class=" margin-top-10 flex-row flex-center">

                <ion-checkbox class="radio " color="secondary" name="sex"
                  [checked]='actDetailTypelist[1].actDetailType==true'
                  (ionChange)='actDetailTypelist[1].actDetailType=$event.detail.checked'
                  disabled='{{activity.ActType==2?disabled:false}}'>
                </ion-checkbox>出席健康講座
              </div>
              <div class=" margin-top-10 flex-row flex-center" *ngIf="actDetailTypelist[1].actDetailType==true">講座主題:
                <div class="flex-1">
                  <input class="radius-2 other-input" placeholder="輸入最多50字" style=" width: 100%;" maxlength="50"
                    [(ngModel)]="remarks2" />
                </div>
              </div>
            </div>

            <div class="">
              <div class=" margin-top-10 flex-row flex-center">
                <ion-checkbox class="radio " color="secondary" name="sex"
                  [checked]='actDetailTypelist[2].actDetailType==true'
                  (ionChange)='actDetailTypelist[2].actDetailType=$event.detail.checked'
                  disabled='{{activity.ActType==2?disabled:false}}'>
                </ion-checkbox>出席與運動有關活動

              </div>
              <div class=" margin-top-10 flex-row flex-center" *ngIf="actDetailTypelist[2].actDetailType==true">活動主題:
                <div class="flex-1">
                  <input class="radius-2 other-input" placeholder="輸入最多50字" style=" width: 100%;" maxlength="50"
                    [(ngModel)]="remarks3" />
                </div>
              </div>
            </div>

            <div class=" margin-top-10 flex-row flex-center ">
              <ion-checkbox class="radio " color="secondary" name="sex"
                [checked]='actDetailTypelist[3].actDetailType==true'
                (ionChange)='actDetailTypelist[3].actDetailType=$event.detail.checked'
                disabled='{{activity.ActType==2?disabled:false}}'>
              </ion-checkbox>出席與健康飲食有關活動
            </div>
            <div class="">
              <div class=" margin-top-10 flex-row flex-center">
                <ion-checkbox class="radio " color="secondary" name="sex"
                  [checked]='actDetailTypelist[4].actDetailType==true'
                  (ionChange)='actDetailTypelist[4].actDetailType=$event.detail.checked'
                  disabled='{{activity.ActType==2?disabled:false}}'>
                </ion-checkbox>其他
              </div>
              <div class=" margin-top-10 flex-row flex-center margin-left-20"
                *ngIf="actDetailTypelist[4].actDetailType==true">
                <div class="flex-1">
                  <input class="radius-2 other-input" placeholder="輸入最多50字" maxlength="50" style=" width: 100%;"
                    [(ngModel)]="remarks4" />
                </div>
              </div>
            </div>


          </div>


          <div class=" margin-top-10 flex-row flex-center">

            <ion-radio name="activity" class="radio " (click)="getActtype('2')"
              checked="{{activity.ActType=='2'?'true':'false'}}"></ion-radio>其他活動

          </div>
          <div class=" margin-top-10 flex-row flex-center  margin-right-20" *ngIf='actType==2'>
            <div class="flex-1">
              <input class="radius-2 other-input"
                placeholder="{{activity.OtherActRemarks?activity.OtherActRemarks:'輸入最多250字'}}" maxlength="250"
                style=" width: 100%;" [(ngModel)]="otherContent" />
            </div>
          </div>
        </ion-radio-group>

        <div class="title2 margin-top-10">其他補充:</div>
        <div class=" margin-top-10 margin-right-20">

          <div class="flex-1">
            <input class="radius-2 other-input" placeholder="{{activity.Remarks?activity.Remarks:'輸入最多250字'}}"
              maxlength="250" style=" width: 100%;" [(ngModel)]="Remarks" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- 已上传 -->
  <div class="bg-h padding-bottom-5" *ngIf="activity.Status!=2">
    <div class="text-center padding-top-20 txt-black txt-bold">活動內容</div>
    <div class="margin-20">
      <div class="flex-row">
        <div class="title2">活動日期:</div>
        <div class="flex-1">
          <div class="radius-2" style="width:100%; ">

            <div class="input_s radius-2 bg-white padding-left-5" *ngIf="activity.SavedStatus==0" style="width:100%;">
              {{activity.ActDate_Display}}
            </div>

          </div>
        </div>

      </div>
      <div class="flex-row margin-top-10  flex-center">
        <div class="title2">活動時間:</div>
        <div class="flex-1">

          <div class="input_s radius-2 bg-white padding-left-5" *ngIf="activity.SavedStatus==0" style="width:100%;">
            {{activity.ActStartTime}}</div>
        </div>
        <div class="margin-5">至</div>
        <div class="flex-1">

          <div class="input_s radius-2 bg-white padding-left-5" *ngIf="activity.SavedStatus==0" style="width:100%;">
            {{activity.ActEndTime}}</div>
        </div>
      </div>
      <div class="flex-row margin-top-10">
        <div class="title2">出席義工:</div>

      </div>

      <div class=" margin-top-10">
        <div class="flex-1">
          <div class="textarea2 radius-2 bg-white h7-5 padding-5" style="width:100%;" *ngIf="activity.SavedStatus==0">
            {{Volunteerlist_show}}
          </div>


        </div>

      </div>



      <div class=" margin-top-10  ">
        <div class="title">活動內容:</div>
        <ion-radio-group>
          <div class=" margin-top-10 flex-row flex-center">

            <ion-radio *ngIf="activity.SavedStatus==0 " name="activity" class="radio "
              checked="{{activity.ActType==1?'true':'false'}}" disabled="{{activity.ActType==1?'false':'true'}}">
            </ion-radio>

            活動

          </div>
          <div class="margin-left-30 margin-right-20">

            <div class="">
              <div class=" margin-top-10 flex-row flex-center">
                <ion-checkbox class="radio " color="secondary" name="sex"
                  [checked]='actDetailTypelist[0].actDetailType==true'
                  (ionChange)='actDetailTypelist[0].actDetailType=$event.detail.checked'
                  disabled='{{activity.SavedStatus==0?disabled:false}}'></ion-checkbox> 參觀病人資源中心
              </div>
              <div class=" margin-top-10 flex-row flex-center" *ngIf="actDetailTypelist[0].actDetailType==true">活動地點:
                <div class="flex-1">

                  <div class="radius-2 other-input bg-white" style=" width: 100%;">{{activity.Remarks1}}</div>
                </div>
              </div>
            </div>
            <div class="">
              <div class=" margin-top-10 flex-row flex-center">

                <ion-checkbox class="radio " color="secondary" name="sex"
                  [checked]='actDetailTypelist[1].actDetailType==true'
                  (ionChange)='actDetailTypelist[1].actDetailType=$event.detail.checked' disabled='{{disabled}}'>
                </ion-checkbox>出席健康講座
              </div>
              <div class=" margin-top-10 flex-row flex-center" *ngIf="actDetailTypelist[1].actDetailType==true">講座主題:
                <div class="flex-1">

                  <div class="radius-2 other-input bg-white" style=" width: 100%;">{{activity.Remarks2}}</div>
                </div>
              </div>
            </div>

            <div class="">
              <div class=" margin-top-10 flex-row flex-center">

                <ion-checkbox class="radio " color="secondary" name="sex"
                  [checked]='actDetailTypelist[2].actDetailType==true'
                  (ionChange)='actDetailTypelist[2].actDetailType=$event.detail.checked' disabled='{{disabled}}'>
                </ion-checkbox>出席與運動有關活動

              </div>
              <div class=" margin-top-10 flex-row flex-center" *ngIf="actDetailTypelist[2].actDetailType==true">活動主題:
                <div class="flex-1">

                  <div class="radius-2 other-input bg-white" style=" width: 100%;">{{activity.Remarks3}}</div>
                </div>
              </div>
            </div>

            <div class=" margin-top-10 flex-row flex-center ">

              <ion-checkbox class="radio " color="secondary" name="sex"
                [checked]='actDetailTypelist[3].actDetailType==true'
                (ionChange)='actDetailTypelist[3].actDetailType=$event.detail.checked' disabled='{{disabled}}'>
              </ion-checkbox>出席與健康飲食有關活動
            </div>
            <div class="">
              <div class=" margin-top-10 flex-row flex-center">

                <ion-checkbox class="radio " color="secondary" name="sex"
                  [checked]='actDetailTypelist[4].actDetailType==true'
                  (ionChange)='actDetailTypelist[4].actDetailType=$event.detail.checked' disabled='{{disabled}}'>
                </ion-checkbox>其他
              </div>
              <div class=" margin-top-10 flex-row flex-center margin-left-20"
                *ngIf="actDetailTypelist[4].actDetailType==true">
                <div class="flex-1">
                  <div class="bg-white h7-5 radius-2 padding-5" style=" width: 100%;">{{activity.Remarks4}}</div>

                </div>
              </div>
            </div>
          </div>


          <div class=" margin-top-10 flex-row flex-center">

            <ion-radio name="activity" value="male" class="radio " checked="{{activity.ActType==2?'true':'false'}}"
              disabled="{{activity.ActType==2?'false':'true'}}"></ion-radio>其他活動

          </div>
          <div class=" margin-top-10 flex-row flex-center  margin-right-20" *ngIf='activity.ActType==2'>
            <div class="flex-1">
              <div class="bg-white h7-5 radius-2 padding-5" style=" width: 100%;height: 1.5rem;">
                {{activity.OtherActRemarks}}</div>

            </div>
          </div>
        </ion-radio-group>

        <div class="title2 margin-top-10">其他補充:</div>
        <div class=" margin-top-10 margin-right-20">
          <!-- <textarea class="textarea2 radius-2" placeholder="輸入最多250字"></textarea> -->
          <div class="flex-1">
            <!-- <input *ngIf="activity.SavedStatus!=0 " class="radius-2 other-input"
              placeholder="{{activity.Remarks?activity.Remarks:'輸入最多250字'}}" maxlength="250" style=" width: 100%;"
              [(ngModel)]="Remarks" /> -->
            <div class="bg-white h7-5 radius-2 padding-5" style=" width: 100%;height: 1.5rem;">{{activity.Remarks}}
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="flex-row padding-15 flex-center" *ngIf="activity.Status==2">
    <div class="flex-1"></div>
    <div class="flex-row">
      <div class="txt-blue margin-right-40" (click)='saveActivity("no")'>保存</div>
      <div class="txt-blue" (click)='saveActivity("web")'>上傳</div>
    </div>
    <div class="flex-1"></div>
  </div>



</ion-content>