<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)='back()'>
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>電話</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="bg-l padding-bottom-5">
    <div class="text-center padding-top-20 txt-black txt-bold">個案資料</div>
    <div class="margin-20">
      <div class="flex-row">
        <div class="title">檔案編號:</div>
        <div>{{casedata.CaseNo}}</div>
      </div>
      <div class="flex-row margin-top-10">
        <div class="title">姓名:</div>
        <div>{{casedata.ChiName_Disply}}</div>
      </div>
      <div class="flex-row margin-top-10  flex-center">
        <div class="title">所患疾病:</div>
        <div class="flex-1">
          <div class="textarea radius-2 bg-white h7-5 padding-5" style="width:100%;">
            {{casedata.Illness_Disply}}
          </div>
        </div>

      </div>

      <div class="flex-row margin-top-10  flex-center">
        <div class="title">其他疾病:</div>
        <div class="flex-1">
          <div class="textarea radius-2 bg-white h7-5 padding-5" style="width:100%;">
            {{casedata.OtherIllness_Disply}}
          </div>
        </div>
      </div>
      <div class="flex-row margin-top-10  flex-center">
        <div class="title">照顧計劃:</div>
        <div class="flex-1">
          <div class="textarea1 radius-2 bg-white h7-5 padding-5" style="width:100%;">
            {{casedata.CarePlan_Disply}}
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="bg-h padding-bottom-5">
    <div class="text-center padding-top-20 txt-black txt-bold">慰問內容</div>
    <div class="margin-20">
      <div class="flex-row flex-center">
        <div class="title2">電話慰問日期:</div>
        <div class="flex-1">
          <div class="input_s radius-2 bg-white padding-left-5" *ngIf="phone.SavedStatus==0" style="width:100%;">
            {{phone.CallDate}}</div>
          <div class="" style="width:100%;" *ngIf="phone.SavedStatus!=0">
            <div class="bg-white">
              <ion-datetime placeholder="{{phone.CallDate}}" displayFormat="DD-MM-YYYY " picker-format="DD MM YYYY "
                max="2050-12-09" style="height:25px;padding:2px;" done-text='确定' cancel-text='取消'
                [(ngModel)]="CallDate"></ion-datetime>
            </div>
          </div>
        </div>

      </div>
      <div class="flex-row margin-top-10  flex-center">
        <div class="title2">電話慰問時間:</div>
        <div class="flex-1">
          <div class="input_s radius-2 bg-white padding-left-5" *ngIf="phone.SavedStatus==0" style="width:100%;">
            {{phone.CallStartTime}}</div>
          <div class="" style="width:100%;" *ngIf="phone.SavedStatus!=0">
            <div class="bg-white">
              <ion-datetime placeholder="{{phone.CallStartTime}}" displayFormat="HH：mm" picker-format="HH：mm"
                max="2050-12-09" done-text='确定' style="height:25px;padding:2px;" cancel-text='取消'
                [(ngModel)]="CallStartTime"></ion-datetime>
            </div>
          </div>
        </div>
        <div class="margin-5">至</div>
        <div class="flex-1">
          <div class="input_s radius-2 bg-white padding-left-5" *ngIf="phone.SavedStatus==0" style="width:100%;">
            {{phone.CallEndTime}}</div>
          <div class="" style="width:100%;" *ngIf="phone.SavedStatus!=0">
            <div class="bg-white">
              <ion-datetime placeholder="{{phone.CallStartTime}}" displayFormat="HH：mm" picker-format="HH：mm"
                max="2050-12-09" done-text='确定' style="height:25px;padding:2px;" cancel-text='取消'
                [(ngModel)]="CallEndTime"></ion-datetime>
            </div>
          </div>
        </div>
      </div>
      <div class="flex-row margin-top-10">
        <div class="title2">負責義工:</div>
        <!-- <input class="radius-2 other-input" *ngIf="phone.SavedStatus!=0 " placeholder="{{phone.UserName?phone.UserName:'輸入最多50字'}}" style="width:100%;" [(ngModel)]='UserName'/> -->
        <!-- <ion-select class="bg-white radius-2" *ngIf="phone.SavedStatus!=0 "
          style="width:100%;height:25px;padding:2px;color:#000;" [(ngModel)]="UserName">
          <ion-select-option *ngFor="let item of Volunteer;let idx=index;" value="{{item.VolunteerName}}">
            {{item.VolunteerName}}</ion-select-option>
        </ion-select> -->
        <div class=" radius-2 padding-left-5" style="width:100%;">
          {{VolunteerName}}</div>
      </div>

      <div class="flex-row margin-top-10 flex-center">
        <div class="title2">下次預約探訪:</div>
        <div class=" radius-2 padding-left-5" *ngIf="phone.VisitDate" style="width:60%;">
          {{phone.VisitDate.ScheduleDate_Display}}
          {{phone.VisitDate.ScheduleTime==''?'時間未定':phone.VisitDate.ScheduleTime}}
        </div>
      </div>

      <div class="margin-top-10">
        <div class="title">未能聯絡:</div>
        <!-- <div class=" margin-top-10 flex-row flex-center">
          <input type="radio" name='location' class="radio " />否
        </div> -->
        <div class=" margin-top-10 flex-row flex-center">

          <ion-radio name="CannotContact" value="male" class="radio " (click)="getLiaison(2)"
            checked="{{CannotContact==2?true:false}}"></ion-radio>否
        </div>
        <!-- <div class=" margin-top-10 flex-row flex-center">
            <input type="radio" name='location' class="radio " />是
          </div> -->
        <div class=" margin-top-10 flex-row flex-center">

          <ion-radio name="CannotContact" value="male" class="radio " (click)="getLiaison(1)"
            checked="{{CannotContact==1?true:false}}"></ion-radio>是
        </div>
      </div>

      <div class=" margin-top-10  ">
        <div class="title">慰問內容:</div>
        <div>
          <div class=" margin-top-10 flex-row flex-center">
            <ion-checkbox class="radio " color="secondary" [checked]='DetailList[0].DetailType==true'
              (ionChange)='DetailList[0].DetailType=$event.detail.checked'
              disabled='{{CannotContact==1?disabled:false}}'></ion-checkbox>健康飲食
          </div>
          <div class=" margin-top-10 flex-row flex-center">
            <ion-checkbox class="radio " color="secondary" [checked]='DetailList[1].DetailType==true'
              (ionChange)='DetailList[1].DetailType=$event.detail.checked'
              disabled='{{CannotContact==1?disabled:false}}'></ion-checkbox>情緒壓力
          </div>
          <div class=" margin-top-10 flex-row flex-center">
            <ion-checkbox class="radio " color="secondary" [checked]='DetailList[2].DetailType==true'
              (ionChange)='DetailList[2].DetailType=$event.detail.checked'
              disabled='{{CannotContact==1?disabled:false}}'></ion-checkbox>運動情況
          </div>
          <div class=" margin-top-10 flex-row flex-center">
            <ion-checkbox class="radio " color="secondary" [checked]='DetailList[3].DetailType==true'
              (ionChange)='DetailList[3].DetailType=$event.detail.checked'
              disabled='{{CannotContact==1?disabled:false}}'></ion-checkbox>服藥情況
          </div>
          <div class=" margin-top-10 flex-row flex-center">
            <ion-checkbox class="radio " color="secondary" [checked]='DetailList[4].DetailType==true'
              (ionChange)='DetailList[4].DetailType=$event.detail.checked'
              disabled='{{CannotContact==1?disabled:false}}'></ion-checkbox>覆診情況
          </div>
          <div class=" margin-top-10 flex-row flex-center">
            <ion-checkbox class="radio " color="secondary" [checked]='DetailList[5].DetailType==true'
              (ionChange)='DetailList[5].DetailType=$event.detail.checked'
              disabled='{{CannotContact==1?disabled:false}}'></ion-checkbox>人際關係
          </div>
          <div class=" margin-top-10 flex-row flex-center">
            <ion-checkbox class="radio " color="secondary" [checked]='DetailList[6].DetailType==true'
              (ionChange)='DetailList[6].DetailType=$event.detail.checked'
              disabled='{{CannotContact==1?disabled:false}}'></ion-checkbox>整體健康
          </div>
          <div class=" margin-top-10 flex-row flex-center">
            <ion-checkbox class="radio " color="secondary" [checked]='DetailList[7].DetailType==true'
              (ionChange)='DetailList[7].DetailType=$event.detail.checked'
              disabled='{{CannotContact==1?disabled:false}}'></ion-checkbox>提醒/預約下次探訪日期
          </div>

          <div *ngIf="DetailList[7].DetailType==true">
            <div class="flex-row flex-center margin-top-10">
              <div class="title2">下次探訪日期:</div>
              <div class="flex-1">
                <div class="input_s radius-2 bg-white padding-left-5" *ngIf="phone.SavedStatus==0" style="width:100%;">
                  {{phone.NextPhoneDate}}</div>
                <div class="" style="width:100%;" *ngIf="phone.SavedStatus!=0">
                  <div class="bg-white">
                    <ion-datetime placeholder="{{phone.CallDate}}" displayFormat="DD-MM-YYYY "
                      picker-format="DD MM YYYY " max="2050-12-09" style="height:25px;padding:2px;" done-text='确定'
                      cancel-text='取消' [(ngModel)]="NextPhoneDate"></ion-datetime>
                  </div>
                </div>
              </div>
            </div>

            <div class="flex-row margin-top-10  flex-center">
              <div class="title2">下次探訪時間:</div>
              <div class="flex-1">
                <div class="input_s radius-2 bg-white padding-left-5" *ngIf="phone.SavedStatus==0" style="width:100%;">
                  {{phone.NextPhoneTime}}</div>

                <div class="" style="width:100%;" *ngIf="phone.SavedStatus!=0">
                  <div class="bg-white">
                    <ion-datetime placeholder="{{phone.CallStartTime}}" displayFormat="HH：mm" picker-format="HH：mm"
                      max="2050-12-09" done-text='确定' style="height:25px;padding:2px;" cancel-text='取消'
                      [(ngModel)]="NextPhoneTime"></ion-datetime>
                  </div>
                </div>
              </div>

            </div>

          </div>
          <div class=" margin-top-10 flex-row flex-center">

            <ion-checkbox class="radio " color="secondary" [checked]='DetailList[8].DetailType==true'
              (ionChange)='DetailList[8].DetailType=$event.detail.checked'
              disabled='{{CannotContact==1?disabled:false}}'></ion-checkbox>其他
            <div class="flex-1" *ngIf='DetailList[8].DetailType==true'>

              <input class="radius-2 other-input" placeholder="輸入最多50字" style="width:100%;" [(ngModel)]='DetailOther' maxlength="50" disabled='{{CannotContact==1?disabled:false}}'
                 />
            </div>
          </div>
        </div>

        <div class="title2 margin-top-10">其他補充:</div>
        <div class=" margin-top-10">
          <div class="flex-1">
            <div class="textarea2 radius-2 bg-white padding-left-5" *ngIf="phone.SavedStatus==1" style="width:100%;">
              {{phone.OtherRemark}}</div>
            <textarea class="textarea2 radius-2" placeholder="輸入最多250字" style="width:100%;" *ngIf="phone.SavedStatus!=1" maxlength="250" disabled='{{CannotContact==1?disabled:false}}'
              [(ngModel)]='OtherRemark'></textarea>
          </div>

        </div>
      </div>

    </div>
  </div>

  <div class="flex-row padding-15 flex-center">
    <div class="flex-1"></div>
    <div class="flex-row">
      <div class="txt-blue margin-right-40" (click)='savePhone()'>保存</div>
      <div class="txt-blue" (click)='uploadPhoneListWeb()'>上傳</div>
    </div>
    <div class="flex-1"></div>
  </div>

</ion-content>