<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)='back()'>
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>香港红十字会</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="bg-l padding-bottom-5">
    <div class="text-center padding-top-20 txt-black txt-bold">个案资料</div>
    <div class="margin-20">
      <div class="flex-row">
        <div class="title">档案编号：</div>
        <div>wx5265262522</div>
      </div>
      <div class="flex-row margin-top-10">
        <div class="title">姓名：</div>
        <div>nihhhh</div>
      </div>
      <div class="flex-row margin-top-10  flex-center">
        <div class="title">所患疾病：</div>
        <textarea class="textarea"></textarea>
      </div>

      <div class="flex-row margin-top-10  flex-center">
        <div class="title">其他疾病：</div>
        <textarea class="textarea"></textarea>
      </div>
      <div class="flex-row margin-top-10  flex-center">
        <div class="title">照顾计划：</div>
        <textarea class="textarea1"></textarea>
      </div>
    </div>

  </div>
  <div class="bg-h padding-bottom-5">
    <div class="text-center padding-top-20 txt-black txt-bold">慰问内容</div>
    <div class="margin-20">
      <div class="flex-row">
        <div class="title2">电话慰问日期：</div>
        <input />
      </div>
      <div class="flex-row margin-top-10  flex-center">
        <div class="title2">电话慰问时间：</div>
        <input class="input_s" />
        <div class="margin-5">至</div>
        <input class="input_s" />
      </div>
      <div class="flex-row margin-top-10">
        <div class="title2">负责义工：</div>
        <div></div>
      </div>

      <div class="flex-row margin-top-10">
        <div class="title2">下次预约探访：</div>
        <div>25-09-2019 10:20</div>
      </div>

      <div class="flex-row margin-top-10 flex-row flex-center">
        <div class="title">慰问内容：</div>
        <div>
          
        </div>
      </div>

    </div>
  </div>

</ion-content>