<ion-header>
  <ion-toolbar>
    <div class="flex-row spacebetween padding-left-20  padding-right-20" style="width: 100%;">
      <div class="txt-blue" (click)='logout();'>登出</div>
      <img src="../assets/icon/download.png" (click)='upload()' />
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="text-center">
    <img src="../assets/icon/rsz_logo_chi.png" />
  </div>
  <div>
    <div *ngFor="let item of caselist;let idx=index;">
      <div class="title flex-row flex-center padding-left-20 h5">档案编号：{{item.CaseNo}}</div>
      <div class="flex-row">

        <div class="height h7 flex-row _center bg-gray width text-center border-bottom">探访 <img
            src="../assets/icon/plus_icon.png" class="icon-15 margin-left-5" (click)='visit(item.CaseId)'/></div>
        <div class="flex-1">
          <div class="xgun">
            <div class="flex-row" style="width: 500px">
              <div class="padding-10  border-black radius-5 height margin-right-10" *ngFor="let itemVisit of item.visitList;let idx=index;"  (click)='visit(item.CaseId,itemVisit.LocalId);'>
                <div class="h7-5">预约日期:</div>
                <div class="margin-top-10 h7-5">
                  {{itemVisit.ScheduleDate}}
                </div>
                <div class="margin-top-10 h7-5" *ngIf="itemVisit.SavedStatus!='1'">未上傳</div>
                <div class="margin-top-10 h7-5" *ngIf="itemVisit.SavedStatus=='1'">已上傳</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="flex-row">

        <div class="height h7 flex-row _center bg-gray width text-center border-bottom">电话 <img
            src="../assets/icon/plus_icon.png" class="icon-15 margin-left-5" (click)='phone(item.CaseId)'/></div>
        <div class="flex-1">
          <div class="xgun">
            <div class="flex-row" style="width: 500px">
              <div class="padding-10  border-black radius-5 height margin-right-10" *ngFor="let itemPhnoe of item.phoneList;let idx=index;" (click)='phone(item.CaseId,itemPhnoe.LocalId);'>
                <div class="h7-5">预约日期:</div>
                <div class="margin-top-10 h7-5">
                  {{itemPhnoe.CallDate}}
                </div>
                <div class="margin-top-10 h7-5" *ngIf="itemPhnoe.SavedStatus!='0'">未上傳</div>
                <div class="margin-top-10 h7-5" *ngIf="itemPhnoe.SavedStatus=='0'">已上傳</div>
              </div>

            </div>
          </div>
        </div>

      </div>


      <div class="flex-row">

        <div class="height h7 flex-row _center bg-gray width text-center border-bottom">活动<img
            src="../assets/icon/plus_icon.png" class="icon-15 margin-left-5" (click)='activity(item.CaseId)' /></div>
        <div class="flex-1">
          <div class="xgun">
            <div class="flex-row" style="width: 500px">
              <div class="padding-10  border-black radius-5 height margin-right-10" *ngFor="let itemActivity of item.activityList;let idx=index;" (click)="activity(item.CaseId,itemActivity.LocalID)">
                <div class="h7-5">预约日期</div>
                <div class="margin-top-10 h7-5">
                  {{itemActivity.activityDate}}
                </div>
                <div class="margin-top-10 h7-5" *ngIf="itemActivity.SavedStatus!='1'">未上傳</div>
                <div class="margin-top-10 h7-5" *ngIf="itemActivity.SavedStatus=='1'">已上傳</div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="margin-bottom-20"></div>

  <!-- <p [class.aa]='name=="aa"' *ngIf="name!='bb'" >{{name}}</p>

  <p *ngFor="let item of name.split(',');let idx=index;">{{idx}}. {{item}}</p> -->


</ion-content>