.title{
    width: 5.5rem;
}
.title2{
    width: 7rem;
}
.bg-l{
    background-color: #A3F8B4;
}
.bg-h{
    background-color: #E8E8E8;
}
.textarea{
    width: 15rem;
    height: 4rem;
}
.textarea1{
    width: 15rem;
    height: 6.5rem;
}
.textarea2{
    width: 20rem;
    height: 6.5rem;
    
}
.input_s{
    width: 4.8rem;
    height: 1.5rem;
}
.radius-2{
    border-radius: 0.2rem;
}
.radio{
    width: 1rem;
    height: 1rem;
    margin-right: 0.6rem;
    background: #fff;
    border-radius: 50%;
}
.other-input{
    margin-left: 0.5rem;
}