<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)='back()'>
        <div class="txt-blue">返回</div>
        <!-- <ion-icon slot="icon-only" name="arrow-back"></ion-icon> -->
      </ion-button>
    </ion-buttons>

    <div style="text-align: right; margin-right: 2rem;" (click)='record()'>
        <img src="../assets/icon/plus_icon.png" class="icon-15 margin-left-5" />
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="txt-black txt-bold padding-20 h7 border-top" *ngFor="let item of medicalRecordList;let idx=index;" (click)='record(item.LocalId)'>
    <div class="margin-top-20">{{item.AppointmentDate}}</div>
    <div class="margin-top-20">{{item.Hosp}}</div>
    <div class="margin-top-20" *ngIf="item.Specialty">{{item.Specialty}}</div>
    <div class="margin-top-20" *ngIf="!item.Specialty">未填写專科</div>
    <div class="margin-top-20" *ngIf="item.Status=='1'">未到期</div>
    <div class="margin-top-20" *ngIf="item.Status=='2'">已覆診</div>
    <div class="margin-top-20" *ngIf="item.Status=='3'">無覆診</div>
  </div>

</ion-content>