<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)='back()'>
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>活動</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="bg-l padding-bottom-5">
    <div class="text-center padding-top-20 txt-black txt-bold">個案資料</div>
    <div class="margin-20">
      <div class="flex-row">
        <div class="title">檔案編號:</div>
        <div>{{casedata.CaseNo}}</div>
      </div>
      <div class="flex-row margin-top-10">
        <div class="title">姓名:</div>
        <div>{{casedata.ChiName_Disply}}</div>
      </div>
      <div class="flex-row margin-top-10  flex-center">
        <div class="title">所患疾病:</div>
        <div class="flex-1">
          <div class="textarea radius-2 bg-white h7-5 padding-5" style="width:100%;">
            {{casedata.Illness_Disply}}
          </div>

        </div>

      </div>

      <div class="flex-row margin-top-10  flex-center">
        <div class="title">其他疾病:</div>
        <div class="flex-1">
          <div class="textarea radius-2 bg-white h7-5 padding-5" style="width:100%;">
            {{casedata.OtherIllness_Disply}}
          </div>

        </div>
      </div>
      <div class="flex-row margin-top-10  flex-center">
        <div class="title">照顧計劃:</div>
        <div class="flex-1">
          <div class="textarea1 radius-2 bg-white h7-5 padding-5" style="width:100%;">
            {{casedata.CarePlan_Disply}}
          </div>

        </div>
      </div>
    </div>

  </div>
  <div class="bg-h padding-bottom-5">
    <div class="text-center padding-top-20 txt-black txt-bold">活動內容</div>
    <div class="margin-20">
      <div class="flex-row">
        <div class="title2">活動日期:</div>
        <div class="flex-1">
          <div class="radius-2" style="width:100%; ">
            <div class="bg-white" *ngIf="activity.SavedStatus!=0">
              <ion-datetime placeholder="{{activity.ActDate}}" displayFormat="YYYY/MM/DD " picker-format="YYYY MM DD " style="height:25px;padding:2px;"
                max="2050-12-09" done-text='确定' cancel-text='取消' [(ngModel)]="activityDate"></ion-datetime>
            </div>
            <div class="input_s radius-2 bg-white padding-left-5" *ngIf="activity.SavedStatus==0" style="width:100%;">
              {{activity.ActDate}}
            </div>

          </div>
        </div>

      </div>
      <div class="flex-row margin-top-10  flex-center">
        <div class="title2">活動時間:</div>
        <div class="flex-1">
          <div class="bg-white" *ngIf="activity.SavedStatus!=0">
            <ion-datetime placeholder="{{activity.ActStartTime}}" displayFormat="hh：mm" picker-format="hh：mm" style="height:25px;padding:2px;"
              max="2050-12-09" done-text='确定' cancel-text='取消' [(ngModel)]="activityStartTime"></ion-datetime>
          </div>
          <div class="input_s radius-2 bg-white padding-left-5" *ngIf="activity.SavedStatus==0" style="width:100%;">
            {{activity.ActStartTime}}</div>
        </div>
        <div class="margin-5">至</div>
        <div class="flex-1">
          <div class="bg-white" *ngIf="activity.SavedStatus!=0">
            <ion-datetime placeholder="{{activity.ActEndTime}}" displayFormat="hh：mm" picker-format="hh：mm" style="height:25px;padding:2px;"
              max="2050-12-09" done-text='确定' cancel-text='取消' [(ngModel)]="activityEndTime"></ion-datetime>
          </div>
          <div class="input_s radius-2 bg-white padding-left-5" *ngIf="activity.SavedStatus==0" style="width:100%;">
            {{activity.ActEndTime}}</div>
        </div>
      </div>
      <div class="flex-row margin-top-10">
        <div class="title2">出席義工:</div>
        <div><img src="../assets/icon/plus_icon.png" class="icon-15 margin-left-30" /></div>
        <div style="position:absolute;margin-left:76px;background:transparent" class="aaa">
          <ion-select multiple="true" *ngIf="activity.SavedStatus!=0 " style="position:absolute;background:transparent" [(ngModel)]="presentVolunteer" >
            <ion-select-option *ngFor="let item of Volunteer;let idx=index;"   value="{{item.VolunteerName}}">{{item.VolunteerName}}</ion-select-option>
          </ion-select>
        </div>
      </div>

      <div class=" margin-top-10">
        <div class="flex-1">
          <div class="textarea2 radius-2 bg-white h7-5 padding-5" style="width:100%;" *ngIf="activity.SavedStatus==0">
            {{activity.presentVolunteer}}
          </div>

          <div class="textarea2 radius-2 bg-white h7-5 padding-5" style="width:100%;">
            {{presentVolunteer}}
          </div>
          <!-- <ion-list *ngIf="activity.SavedStatus!=0">
            <ion-item>
              <ion-select multiple="true" [(ngModel)]="presentVolunteer">
                <ion-select-option value="风">风</ion-select-option>
                <ion-select-option value="55"> 55 </ion-select-option>
                <ion-select-option value="66"> 66 </ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list> -->
          <!-- <textarea class="textarea2 radius-2" style="width:100%;"></textarea> -->
        </div>

      </div>



      <div class=" margin-top-10  ">
        <div class="title">活動內容:</div>
        <div class=" margin-top-10 flex-row flex-center">
          <input type="radio" name="activity" value="male" class="radio " (click)="getActtype('1')" checked="{{activity.ActType=='1'?'1':''}}"/>活動</div>
        <div class="margin-left-30 margin-right-20">

          <div class="">
            <div class=" margin-top-10 flex-row flex-center"><input type="radio" name="sex"  (click)="getActDetail('參觀病人資源中心')" checked="{{activity.ActDetailType=='參觀病人資源中心'?'1':''}}"
                class="radio " />參觀病人資源中心</div>
            <div class=" margin-top-10 flex-row flex-center">活動地點:
              <div class="flex-1">
                <input class="radius-2 other-input" placeholder="{{activity.Remarks1?activity.Remarks1:'輸入最多50字'}}" style=" width: 100%;" [(ngModel)]="remarks1"/>
              </div>
            </div>
          </div>
          <div class="">
            <div class=" margin-top-10 flex-row flex-center"><input type="radio" name="sex"  (click)="getActDetail('出席健康講座')" checked="{{activity.ActDetailType=='出席健康講座'?'1':''}}"
                class="radio " />出席健康講座</div>
            <div class=" margin-top-10 flex-row flex-center">講座主題:<div class="flex-1">
                <input class="radius-2 other-input" placeholder="{{activity.Remarks2?activity.Remarks2:'輸入最多50字'}}" style=" width: 100%;"  [(ngModel)]="remarks2"/>
              </div>
            </div>
          </div>
          <div class="">
            <div class=" margin-top-10 flex-row flex-center"><input type="radio" name="sex"  (click)="getActDetail('出席與運動有關活動')" checked="{{activity.ActDetailType=='出席與運動有關活動'?'1':''}}"
                class="radio " />出席與運動有關活動</div>
            <div class=" margin-top-10 flex-row flex-center">活動主題:<div class="flex-1">
                <input class="radius-2 other-input" placeholder="{{activity.Remarks3?activity.Remarks3:'輸入最多50字'}}" style=" width: 100%;" [(ngModel)]="remarks3"/>
              </div>
            </div>
          </div>

          <div class=" margin-top-10 flex-row flex-center "><input type="radio" name="sex"  (click)="getActDetail('出席與健康飲食有關活動')" checked="{{activity.ActDetailType=='出席與健康飲食有關活動'?'1':''}}"
              class="radio " />出席與健康飲食有關活動 </div>
          <div class="">
            <div class=" margin-top-10 flex-row flex-center"><input type="radio" name="sex"  (click)="getActDetail('其他')" checked="{{activity.OtherActRemarks=='其他'?'1':''}}"
                class="radio " />其他</div>
            <div class=" margin-top-10 flex-row flex-center margin-left-20">
              <div class="flex-1">
                <input class="radius-2 other-input" placeholder="{{activity.Remarks4?activity.Remarks4:'輸入最多50字'}}" style=" width: 100%;" [(ngModel)]="remarks4"/>
              </div>
            </div>
          </div>


        </div>


        <div class=" margin-top-10 flex-row flex-center"><input type="radio" name="activity" value="male"
            class="radio " (click)="getActtype('2')" checked="{{activity.ActType=='2'?'1':''}}"/>其他活動</div>
        <div class=" margin-top-10 flex-row flex-center  margin-right-20">
          <div class="flex-1">
            <input class="radius-2 other-input" placeholder="{{activity.OtherActRemarks?activity.OtherActRemarks:'輸入最多250字'}}" style=" width: 100%;" [(ngModel)]="otherContent"/>
          </div>
        </div>


        <div class="title2 margin-top-10">其他補充:</div>
        <div class=" margin-top-10 margin-right-20">
          <!-- <textarea class="textarea2 radius-2" placeholder="輸入最多250字"></textarea> -->
          <div class="flex-1">
            <input class="radius-2 other-input" placeholder="{{activity.Remarks?activity.Remarks:'輸入最多250字'}}" style=" width: 100%;" [(ngModel)]="Remarks"/>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="flex-row padding-15 flex-center">
    <div class="flex-1"></div>
    <div class="flex-row">
      <div class="txt-blue margin-right-40" (click)='saveActivity()'>保存</div>
      <div class="txt-blue">上傳</div>
    </div>
    <div class="flex-1"></div>
  </div>

</ion-content>