<ion-header>
  <ion-toolbar>
    <ion-title>

    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="text-center border-bottom padding-20">
    <img src="../assets/icon/rsz_logo_chi.png" />
  </div>

  <div class="flex-row ">
    <div class="flex-1"></div>
    <div class="margin-top-100">
      <div class="flex-row flex-center margin-top-30 ">
        <div class="left text-center txt-bold">義工編號</div>
        <div class="flex-1 margin-left-10">
          <input class="radius-2" style="width:100%;" />
        </div>
      </div>
      <div class="flex-row flex-center margin-top-30 ">
        <div class="left text-center txt-bold">密碼</div>
        <div class="flex-1 margin-left-10">
          <input class="radius-2" style="width:100%;" />
        </div>
      </div>

      <div class="flex-row flex-center margin-top-30 txt-bold">
        <div class="left text-center ">服務</div>
        <div class="flex-1 margin-left-10">
          <input class="radius-2" value="健康自家管" style="width:100%;" />
        </div>
      </div>
      <div class="text-center margin-top-120 txt-blue txt-bold" (click)='login();'>登入
      </div>
      <div class="text-center margin-top-20 txt-blue txt-bold" (click)='aa();'>忘記密碼</div>
    </div>
    <div class="flex-1"></div>
  </div>




  <!-- <p [class.aa]='name=="aa"' *ngIf="name!='bb'" >{{name}}</p>
  
    <p *ngFor="let item of name.split(',');let idx=index;">{{idx}}. {{item}}</p> -->


</ion-content>