
.aa{
    color:red;
}
.left{
    width: 8rem;
}

.border-bottom{
    border-bottom: 1px solid #000;
}
.edition{
    text-align: right;
}
.radius-2{
    border-radius: 0.2rem;
}

.border-1{
    border: 1px solid #c9c9c9;
}