<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)='back()'>
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>探訪</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="bg-l padding-bottom-5">
    <div class="text-center padding-top-20 txt-black txt-bold">個案資料</div>
    <div class="text-center padding-top-10">
      <img src="../assets/icon/camera.png" class="icon-25 margin-3" (click)='uploadimg(visit.LocalId);' />
      <img src="../assets/icon/scan.png" class="icon-25 margin-3" (click)='saomiao();' />
      <img src="../assets/icon/booking.png" class="icon-25 margin-3" (click)="visitList();" />
      <img src="../assets/icon/HEART-BEAT-.png" class="icon-25 margin-3" (click)='aa()' />
      <img src="../assets/icon/BLOODPRESSURE_ICON.png" class="icon-25 margin-3" (click)='bloodPressure()' />
      <img src="../assets/icon/waisthipratio.png" class="icon-25 margin-3" (click)='whr()' />
      <img src="../assets/icon/WEIGHT_ICON.png" class="icon-25 margin-3" (click)='weight()' />
    </div>

    <div class="bg-white saomiao text-center" *ngIf="saomiao_show==true">
      <div class="saomiao_top _center">
        <div>
          <div>掃描</div>
          <div class="f-10 margin-top-5">你想進行哪個操作</div>
        </div>
      </div>
      <div class="saomiao_li _center text-blue" (click)="scan('ss');">掃描開始時間</div>
      <div class="saomiao_li _center text-blue" (click)="scan('end');">掃描結束時間</div>
      <div class="saomiao_li _center" (click)='saomiao2();'>取消</div>
    </div>
    <div class="margin-20">
      <div class="flex-row">
        <div class="title">檔案編號:</div>
        <div>{{casedata.CaseNo}}</div>
      </div>
      <div class="flex-row margin-top-10">
        <div class="title">姓名:</div>
        <div>{{casedata.ChiName_Disply}}</div>
      </div>
      <div class="flex-row margin-top-10  flex-center">
        <div class="title">所患疾病:</div>
        <div class="flex-1">
          <div class="textarea radius-2 bg-white h7-5 padding-5" style="width:100%;">
            {{casedata.Illness_Disply}}
          </div>
        </div>

      </div>

      <div class="flex-row margin-top-10  flex-center">
        <div class="title">其他疾病:</div>
        <div class="flex-1">
          <div class="textarea radius-2 bg-white h7-5 padding-5" style="width:100%;">
            {{casedata.OtherIllness_Disply}}
          </div>
        </div>
      </div>
      <div class="flex-row margin-top-10  flex-center">
        <div class="title">照顧計劃:</div>
        <div class="flex-1">
          <div class="textarea1 radius-2 bg-white h7-5 padding-5" style="width:100%;">
            {{casedata.CarePlan_Disply}}
          </div>
        </div>
      </div>
    </div>

  </div>

  <div>
    <div class="bg-h1 padding-bottom-5 ">
      <div class=" padding-top-20 flex-row flex-center padding-right-30">
        <div class="flex-1"></div>
        <div class="txt-black txt-bold">預約</div>
        <div class=" flex-1 h8 txt-blue  aa" (click)='saveYuyue(visit.LocalId)'>保存</div>
      </div>
      <div class="padding-20">
        <div class="flex-row">
          <div class="title2">預約探訪日期:</div>
          <div class="flex-1">
            <div class="radius-2" style="width:100%; " class="bg-white">
              <div>
                <ion-datetime displayFormat="DD-MM-YYYY" placeholder="{{visit.ScheduleDate_Display}}"
                  picker-format="DD MM YYYY  " max="2050-12-09" done-text='确定' style="height:25px;padding:2px;"
                  cancel-text='取消' [(ngModel)]="ScheduleDate"></ion-datetime>
              </div>

            </div>
          </div>
        </div>

        <div class="flex-row margin-top-10 ">
          <div class="title2">預約探訪時間:</div>
          <div class="flex-1">
            <div class="bg-white">
              <ion-datetime placeholder="{{visit.ScheduleTime}}" displayFormat="HH:mm" picker-format="hh:mm A"
                style="height:25px;padding:2px;" max="2050-12-09" done-text='确定' cancel-text='取消'
                [(ngModel)]="ScheduleTime"></ion-datetime>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="bg-h padding-bottom-5">
      <div class=" padding-top-20 flex-row flex-center padding-right-40">
        <div class="flex-1"></div>
        <div class="txt-black txt-bold">探訪內容</div>
        <div class=" flex-1 h8 txt-blue  aa" (click)='saveVisit_Neurou(visit.LocalId)'>保存</div>
      </div>

      <div class="margin-20">

        <div class="flex-row">
          <div class="title2">實際探訪日期:</div>
          <div class="flex-1">
            <div class="radius-2" style="width:100%; ">
              <div class="bg-white">
                <ion-datetime placeholder="{{VisitDate}}" style="height:25px;padding:2px;"
                  displayFormat="DD-MM-YYYY " picker-format="DD MM YYYY" max="2050-12-09" done-text='确定'
                  cancel-text='取消' [(ngModel)]="VisitDate"></ion-datetime>
              </div>

            </div>
          </div>
        </div>
        <div class="flex-row margin-top-10  flex-center">
          <div class="title2">實際探訪時間:</div>
          <div class="flex-1">
            <div class="bg-white">
              <ion-datetime placeholder="{{VisitStartTime}}" style="height:25px;padding:2px;" displayFormat="HH:mm"
                picker-format="hh：mm A" max="2050-12-09" done-text='确定' cancel-text='取消' [(ngModel)]="VisitStartTime">
              </ion-datetime>
            </div>


          </div>
          <div class="margin-5">至</div>
          <div class="flex-1">
            <div class="bg-white">
              <ion-datetime placeholder="{{VisitEndTime}}" style="height:25px;padding:2px;" displayFormat="HH:mm"
                picker-format="hh：mm A" max="2050-12-09" done-text='确定' cancel-text='取消' [(ngModel)]="VisitEndTime">
              </ion-datetime>
            </div>
          </div>
        </div>
        <div class="margin-top-10">
          <div class="title">面見地點:</div>
          <div class=" margin-top-10 flex-row flex-center">
            <input type="radio" name='location' checked="{{visit.Location=='1'?'1':''}}" class="radio "
              (click)="getLocation(1)" />家中
          </div>
          <div class=" margin-top-10 flex-row flex-center">
            <input type="radio" name='location' checked="{{visit.Location=='2'?'1':''}}" class="radio "
              (click)="getLocation(2)" />其他
            <div class="flex-1 margin-left-20">
              <input *ngIf="visit.Location==2 || Location==2" class="input_s radius-2"
                placeholder="{{visit.LocationRemarks?visit.LocationRemarks:'輸入最多50字'}}" [(ngModel)]="LocationRemarks"
                maxlength="50" style="width:100%;" />

            </div>
          </div>
        </div>

        <div>
          <div class="flex-row margin-top-10">
            <div class="title2">出席義工:</div>
            <div><img src="../assets/icon/plus_icon.png" class="icon-15 margin-left-30" />
              <div style="position:absolute;margin-top:-30px;background:transparent" class="aaa">
                <ion-select multiple="true" style="position:absolute;background:transparent;opacity: 0;"
                  [(ngModel)]="presentVolunteer" (ionChange)="aas()">
                  <ion-select-option *ngFor="let item of presentVolunteerList;let idx=index;" value="{{item.VolId}}">
                    {{item.VolunteerName}}</ion-select-option>
                </ion-select>
              </div>
            </div>
          </div>
          <div class=" ">
            <div class="flex-1">
              <div class="textarea2 radius-2 bg-white h7-5 padding-5" style="width:100%;">
                {{presentVolunteer_show}}
              </div>

            </div>
          </div>
        </div>

        <div>
          <div class="flex-row margin-top-10">
            <div class="title2">支援義工:</div>
            <div><img src="../assets/icon/plus_icon.png" class="icon-15 margin-left-30" />

              <div style="position:absolute;margin-top:-30px;background:transparent;opacity: 0;" class="aaa">
                <ion-select multiple="true" style="position:absolute;background:transparent"
                  [(ngModel)]="supportVolunteer" (ionChange)="aab()">
                  <ion-select-option *ngFor="let item of supportVolunteerList;let idx=index;" value="{{item.VolId}}">
                    {{item.VolunteerName}}</ion-select-option>
                </ion-select>
              </div>

            </div>
          </div>
          <div class=" ">
            <div class="flex-1">
              <div class="textarea2 radius-2 bg-white h7-5 padding-5" style="width:100%;">
                {{supportVolunteer_show}}
              </div>

            </div>
          </div>
        </div>

        <div class="margin-top-10">
          <div class="title">探訪狀況:</div>
          <div class=" margin-top-10 flex-row flex-center">
            <input type="radio" value="1" name='visitState' class="radio " checked="{{visit.VisitStatus=='1'?'1':''}}"
              (click)="getVisitStatus(1)" />成功
          </div>
          <div class=" margin-top-10 flex-row flex-center">
            <input type="radio" value="2" name='visitState' class="radio " checked="{{visit.VisitStatus=='2'?'1':''}}"
              (click)="getVisitStatus(2)" />未能
          </div>
          <div class="flex-1 margin-top-10" *ngIf='visit.VisitStatus==2 || VisitStatus==2'>
            <input class="input_s radius-2"
              placeholder="{{visit.VisitStatusRemarks?visit.VisitStatusRemarks:'輸入最多50字'}}"
              [(ngModel)]="VisitStatusRemarks" name='VisitStatusRemarks' style="width:100%;" />
          </div>
        </div>
      </div>
    </div>

    <div class="bg-h1 padding-bottom-5 ">
      <div class=" padding-top-20 flex-row flex-center padding-right-40">
        <div class="flex-1"></div>
        <div class="txt-black txt-bold">服務內容</div>
        <div class=" flex-1 h8 txt-blue  aa" (click)='saveService_neurou(visit.LocalId)'>保存</div>
      </div>
      <div class=" ">
        <div class="margin-20">
          <div class="">
            <div>室內活動:</div>

            <div class=" margin-top-5 flex-row flex-center">
              <ion-checkbox class="radio " [checked]='VisitDetailIndoorlist[0].type==true'
                (ionChange)='VisitDetailIndoorlist[0].type=$event.detail.checked'
                disabled='{{VisitStatus==2?disabled:false}}'></ion-checkbox>
              討論健康目標
            </div>
            <div class=" margin-top-5 flex-row flex-center">
              <ion-checkbox class="radio " [checked]='VisitDetailIndoorlist[1].type==true'
                (ionChange)='VisitDetailIndoorlist[1].type=$event.detail.checked'
                disabled='{{VisitStatus==2?disabled:false}}'></ion-checkbox>
              教導／討論健康飲食
            </div>
            <div class=" margin-top-5 flex-row flex-center">
              <ion-checkbox class="radio " [checked]='VisitDetailIndoorlist[2].type==true'
                (ionChange)='VisitDetailIndoorlist[2].type=$event.detail.checked'
                disabled='{{VisitStatus==2?disabled:false}}'></ion-checkbox>
              教導／一起做運動
            </div>
            <div class=" margin-top-5 flex-row flex-center">
              <ion-checkbox class="radio " [checked]='VisitDetailIndoorlist[3].type==true'
                (ionChange)='VisitDetailIndoorlist[3].type=$event.detail.checked'
                disabled='{{VisitStatus==2?disabled:false}}'></ion-checkbox>
              舒緩情緒／壓力
            </div>
            <div class=" margin-top-5 flex-row flex-center">

              <ion-checkbox class="radio " [checked]='VisitDetailIndoorlist[4].type==true'
                (ionChange)='VisitDetailIndoorlist[4].type=$event.detail.checked'
                disabled='{{VisitStatus==2?disabled:false}}'></ion-checkbox>
              處理藥物／服藥習慣
            </div>

            <div class=" margin-top-5 flex-row flex-center">
              <ion-checkbox class="radio " [checked]='VisitDetailIndoorlist[5].type==true'
                (ionChange)='VisitDetailIndoorlist[5].type=$event.detail.checked'
                disabled='{{VisitStatus==2?disabled:false}}'></ion-checkbox>
              其他
              <div class="flex-1" *ngIf='VisitDetailIndoorlist[5].type==true'>
                <input class="radius-2 other-input" maxlength="50" placeholder="輸入最多50字"
                  [(ngModel)]="VisitDetailIndoorRemarks" name='otherIndoorActivities' style="width: 100%;" />
              </div>

            </div>


          </div>

          <div class="margin-top-5 ">
            <div>室外活動:</div>

            <div class=" margin-top-5 flex-row flex-center">
              <ion-checkbox class="radio " [checked]='VisitDetailOutdoorlist[0].type==true'
                (ionChange)='VisitDetailOutdoorlist[0].type=$event.detail.checked'
                disabled='{{VisitStatus==2?disabled:false}}'></ion-checkbox>
              護送外出
            </div>

            <div class=" margin-top-5 flex-row flex-center">
              <ion-checkbox class="radio " [checked]='VisitDetailOutdoorlist[1].type==true'
                (ionChange)='VisitDetailOutdoorlist[1].type=$event.detail.checked'
                disabled='{{VisitStatus==2?disabled:false}}'></ion-checkbox>
              陪同購物
            </div>

            <div class=" margin-top-5 flex-row flex-center">
              <ion-checkbox class="radio " [checked]='VisitDetailOutdoorlist[2].type==true'
                (ionChange)='VisitDetailOutdoorlist[2].type=$event.detail.checked'
                disabled='{{VisitStatus==2?disabled:false}}'></ion-checkbox>
              出外散步
            </div>

            <div class=" margin-top-5 flex-row flex-center">
              <ion-checkbox class="radio " [checked]='VisitDetailOutdoorlist[3].type==true'
                (ionChange)='VisitDetailOutdoorlist[3].type=$event.detail.checked'
                disabled='{{VisitStatus==2?disabled:false}}'></ion-checkbox>
              其他

              <div class="flex-1" *ngIf='VisitDetailOutdoorlist[3].type==true'>
                <input class="radius-2  other-input" placeholder="輸入最多50字" maxlength="50"
                  disabled='{{VisitStatus==2?disabled:false}}' [(ngModel)]="VisitDetailOutdoorRemarks"
                  name='VisitDetailOutdoorRemarks' style=" width: 100%;" />
              </div>
            </div>


          </div>

          <div>
            <div class="title2 margin-top-10">其他(請註明):</div>
            <div class=" margin-top-10 ">
              <div class="flex-1">
                <input class="radius-2 " placeholder="輸入最多250字" disabled='{{VisitStatus==2?disabled:false}}'
                  [(ngModel)]="VisitDetailOther" name='VisitDetailOther' style=" width: 100%;" maxlength="250" />
              </div>
            </div>
          </div>

          <div>
            <div class=" margin-top-10">是次分享之健康管家手冊項目(如有，請填寫該目錄標題):</div>
            <div class=" margin-top-10 ">
              <div class="flex-1 flex-row  margin-top-10 flex-center">
                <div class="margin-right-10">1.</div><input class="radius-2 " [(ngModel)]="CategoryTopic1"
                  name='CategoryTopic1' placeholder="輸入最多50字" disabled='{{VisitStatus==2?disabled:false}}'
                  maxlength="50" style=" width: 100%;" />
              </div>
              <div class="flex-1 flex-row margin-top-10 flex-center">
                <div class="margin-right-10">2.</div><input class="radius-2 " [(ngModel)]="CategoryTopic2"
                  name='CategoryTopic2' placeholder="輸入最多50字" disabled='{{VisitStatus==2?disabled:false}}'
                  maxlength="50" style=" width: 100%;" />
              </div>
              <div class="flex-1 flex-row margin-top-10 flex-center">
                <div class="margin-right-10">3.</div><input class="radius-2 " [(ngModel)]="CategoryTopic3"
                  name='CategoryTopic3' placeholder="輸入最多50字" disabled='{{VisitStatus==2?disabled:false}}'
                  maxlength="50" style=" width: 100%;" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="bg-h padding-bottom-5">
      <div class=" padding-top-20 flex-row flex-center padding-right-40">
        <div class="flex-1"></div>
        <div class="txt-black txt-bold">健康檢查紀錄</div>
        <div class=" flex-1 h8 txt-blue  aa" (click)="saveHeightWeight(visit.LocalId)">保存</div>
      </div>

      <div class="margin-20">
        <div>
          <div class="flex-row text-center">
            <div class="flex-1">上血壓(mmHg)</div>
            <div class="flex-1">下血壓(mmHg)</div>
            <div class="flex-1">心跳</div>
          </div>
          <div class="flex-row">
            <div>1.</div>
            <div class="flex-row text-center">
              <div class="flex-1">
                <input class="radius-2 margin-left-5" style=" width: 90%;" placeholder="{{visit.SYS1?visit.SYS1:''}}"
                  disabled='{{VisitStatus==2?disabled:false}}' [(ngModel)]="SYS1" name='upperBloodPressure1'
                  type="number" />
              </div>
              <div class="flex-1">
                <input class="radius-2 margin-left-10" style=" width: 90%;" placeholder="{{visit.DlA1?visit.DlA1:''}}"
                  disabled='{{VisitStatus==2?disabled:false}}' [(ngModel)]="DlA1" name='lowerBloodPressure1'
                  type="number" />
              </div>
              <div class="flex-1">
                <input class="radius-2 margin-left-10" style=" width: 90%;" disabled='{{VisitStatus==2?disabled:false}}'
                  placeholder="{{visit.heartBeats1?visit.heartBeats1:''}}" [(ngModel)]="heartBeats1" type="number"
                  name='MeasurementDate1' />
              </div>
            </div>
          </div>
          <div class="flex-row margin-top-5">
            <div>2.</div>
            <div class="flex-row text-center">
              <div class="flex-1">
                <input class="radius-2 margin-left-5" style=" width: 90%;" placeholder="{{visit.SYS2?visit.SYS2:''}}"
                  disabled='{{VisitStatus==2?disabled:false}}' [(ngModel)]="SYS2" name='upperBloodPressure2'
                  type="number" />
              </div>
              <div class="flex-1">
                <input class="radius-2  margin-left-10" style=" width: 90%;"
                  disabled='{{VisitStatus==2?disabled:false}}' placeholder="{{visit.DlA2?visit.DlA2:''}}"
                  [(ngModel)]="DlA2" name='lowerBloodPressure2' type="number" />
              </div>
              <div class="flex-1">
                <input class="radius-2 margin-left-10" style=" width: 90%;" disabled='{{VisitStatus==2?disabled:false}}'
                  placeholder="{{visit.heartBeats2?visit.heartBeats2:''}}" [(ngModel)]="heartBeats2" type="number"
                  name='MeasurementDate2' />
              </div>
            </div>
          </div>
        </div>

        <div>
          <div class="flex-row margin-top-10">
            <div>身高</div>
            <div class="radius-2 margin-left-20 margin-right-20" style=" width: 30%;">{{casedata.Height}}</div>
            <div>米</div>
          </div>
          <div class="flex-row margin-top-5">
            <div>體重</div>
            <!-- <ion-input  class="radius-2 margin-left-20 margin-right-20 bg-white" style=" width:30%;" name='Weight' ionBlur></ion-input> -->
            <input class="radius-2 margin-left-20 margin-right-20" style=" width: 30%;" [(ngModel)]="Weight"
              disabled='{{VisitStatus==2?disabled:false}}' placeholder="{{visit.Weight?visit.Weight:''}}"
              type="number" />
            <div>公斤</div>
          </div>
          <div class="flex-row margin-top-5">
            <div>BMI</div>
            <div class="margin-left-20" *ngIf="!visit.Bmi ">{{Bmi}}</div>
            <div class="margin-left-20" *ngIf="visit.Bmi ">{{visit.Bmi}}</div>

          </div>
        </div>

        <div>
          <div class="flex-row margin-top-10">
            <div>腰圍</div>
            <input class="radius-2 margin-left-20 margin-right-20" style=" width: 30%;" [(ngModel)]="Waist"
              type="number" disabled='{{VisitStatus==2?disabled:false}}' placeholder="{{visit.Waist?visit.Waist:''}}" />
            <div>厘米</div>
          </div>
          <div class="flex-row margin-top-5">
            <div>臀圍</div>
            <input class="radius-2 margin-left-20 margin-right-20" style=" width: 30%;" [(ngModel)]="Hip" type="number"
              disabled='{{VisitStatus==2?disabled:false}}' placeholder="{{visit.Hip?visit.Hip:''}}" />
            <div>厘米</div>
          </div>
          <div class="flex-row margin-top-5">
            <div>腰臀比例</div>
            <div class="margin-left-20" *ngIf="!visit.WHRatio ">{{WHRatio}}</div>
            <div class="margin-left-20" *ngIf="visit.WHRatio ">{{visit.WHRatio}}</div>
          </div>
        </div>

      </div>

    </div>

    <div class="bg-h1 padding-bottom-5">
      <div class=" padding-top-20 flex-row flex-center padding-right-40">
        <div class="flex-1"></div>
        <div class="txt-black txt-bold">生活習慣評估</div>
        <div class=" flex-1 h8 txt-blue  aa" (click)='saveLifeHabit(visit.LocalId)'>保存</div>
      </div>
      <div class="margin-20">
        <div>
          <div>根據醫生處方服食藥物(包括依時和劑量, 沒有自行服食其他非處方藥物):</div>
          <div class=" margin-top-5 flex-row flex-center">
            <input type="radio" name="LifeHabit1" value="male" class="radio "
              checked="{{LifeStyleQuestion1==1?true:''}}" (click)="getLifeHabit1('1')" />是
          </div>
          <div class=" margin-top-5 flex-row flex-center">
            <input type="radio" name="LifeHabit1" value="male" class="radio "
              checked="{{LifeStyleQuestion1==2?true:''}}" (click)="getLifeHabit1('2')" />否
          </div>
        </div>

        <div class="margin-top-10">
          <div>根據低鈉原則選擇食物(包括低鹽及不吃味精、罐頭及醃製食物等等):</div>
          <div class=" margin-top-5 flex-row flex-center">
            <input type="radio" name="LifeHabit2" value="male" class="radio " checked="{{LifeStyleQuestion2==1?'1':''}}"
              (click)="getLifeHabit2('1')" />是
          </div>
          <div class=" margin-top-5 flex-row flex-center">
            <input type="radio" name="LifeHabit2" value="male" class="radio " checked="{{LifeStyleQuestion2==2?'1':''}}"
              (click)="getLifeHabit2('2')" />否
          </div>
        </div>

        <div class="margin-top-10">
          <div>按低脂及低膽固醇原則選擇食物(如不吃煎炸食物、肥肉、動物內臟等):</div>
          <div class=" margin-top-5 flex-row flex-center">
            <input type="radio" name="LifeHabit3" value="male" class="radio " checked="{{LifeStyleQuestion3==1?'1':''}}"
              (click)="getLifeHabit3('1')" />是
          </div>
          <div class=" margin-top-5 flex-row flex-center">
            <input type="radio" name="LifeHabit3" value="male" class="radio " checked="{{LifeStyleQuestion3==2?'1':''}}"
              (click)="getLifeHabit3('2')" />否
          </div>
        </div>

        <div class="margin-top-10">
          <div>根據高纖維原則選擇食物(如新鮮水果、蔬菜、麥片或全麥食品、糙米等):</div>
          <div class=" margin-top-5 flex-row flex-center">
            <input type="radio" name="LifeHabit4" value="male" class="radio " checked="{{LifeStyleQuestion4==1?'1':''}}"
              (click)="getLifeHabit4('1')" />是
          </div>
          <div class=" margin-top-5 flex-row flex-center">
            <input type="radio" name="LifeHabit4" value="male" class="radio " checked="{{LifeStyleQuestion4==2?'1':''}}"
              (click)="getLifeHabit4('2')" />否
          </div>
        </div>

        <div class="margin-top-10">
          <div>能維持每星期運動至少3次及每次30分鐘:</div>
          <div class=" margin-top-5 flex-row flex-center">
            <input type="radio" name="LifeHabit5" value="male" class="radio " checked="{{LifeStyleQuestion5==1?'1':''}}"
              (click)="getLifeHabit5(1)" />是
          </div>
          <div class=" margin-top-5 flex-row flex-center">
            <input type="radio" name="LifeHabit5" value="male" class="radio " checked="{{LifeStyleQuestion5==2?'1':''}}"
              (click)="getLifeHabit5(2)" />否
          </div>
        </div>

        <div class="margin-top-10">
          <div>家居環境安全(如地面整潔、沒有隨地擺放雜物等):</div>
          <div class=" margin-top-5 flex-row flex-center">
            <input type="radio" name="LifeHabit6" value="male" class="radio " checked="{{LifeStyleQuestion6==1?'1':''}}"
              (click)="getLifeHabit6(1)" />是
          </div>
          <div class=" margin-top-5 flex-row flex-center">
            <input type="radio" name="LifeHabit6" value="male" class="radio " checked="{{LifeStyleQuestion6==2?'1':''}}"
              (click)="getLifeHabit6(2)" />否
          </div>
        </div>

        <div class="margin-top-10">
          <div>在家/外出(醫院／診所除外)*量度血糖:</div>
          <div class=" margin-top-5 flex-row flex-center">
            <div class="flex-row flex-center">
              <input type="radio" name="LifeStyleMeasureBloodSuger" value="male" class="radio "
                (click)="LifeStyleMeasureBloodSuger=1" />是</div>

            <div class="flex-row h7-5 flex-1 margin-left-20 flex-center">
              <div class="" style="width:3.3rem;">地點</div>
              <div class="input_s radius-2 bg-white flex-row  flex-center" style="width:34%;">
                <ion-select [(ngModel)]="LifeStyleMeasureBsLocation" disabled='{{VisitStatus==2?disabled:false}}'>
                  <ion-select-option value="1">家中</ion-select-option>
                  <ion-select-option value="2">外出</ion-select-option>
                </ion-select>
              </div>
              <!-- <input class="input_s radius-2" style="width:35%;" /> -->

              <div class="margin-5" style="width:3.3rem;">頻率</div>

              <div class="input_s radius-2 bg-white flex-row  flex-center" style="width:34%;">
                <ion-select [(ngModel)]="LifeStyleMeasureBsPeriod" disabled='{{VisitStatus==2?disabled:false}}'>
                  <ion-select-option value="1">每日</ion-select-option>
                  <ion-select-option value="2">每週</ion-select-option>
                  <ion-select-option value="3">每月</ion-select-option>
                </ion-select>
              </div>

              <div class="margin-5" style="width:3.3rem;">次數</div>

              <input class="input_s radius-2" style="width:34%;" type="number" />

            </div>
          </div>
          <div class=" margin-top-5 flex-row flex-center">
            <input type="radio" name="LifeStyleMeasureBloodSuger" value="male" class="radio "
              (click)="LifeStyleMeasureBloodSuger=2" />否
          </div>
        </div>

        <div class="margin-top-10">
          <div>在家/外出(醫院／診所除外)*量度血壓:</div>
          <div class=" margin-top-5 flex-row flex-center">
            <div class="flex-row flex-center">
              <input type="radio" name="sex" value="male" class="radio " disabled='{{VisitStatus==2?disabled:false}}'
                (click)="LifeStyleMeasureBloodPressure=1" />是</div>

            <div class="flex-row h7-5 flex-1 margin-left-20 flex-center">
              <div class="" style="width:3.3rem;">地點</div>

              <div class="input_s radius-2 bg-white flex-row  flex-center" style="width:34%;">
                <ion-select [(ngModel)]="LifeStyleMeasureBpLocation" disabled='{{VisitStatus==2?disabled:false}}'>
                  <ion-select-option value="1">家中</ion-select-option>
                  <ion-select-option value="2">外出</ion-select-option>
                </ion-select>
              </div>

              <div class="margin-5" style="width:3.3rem;">頻率</div>

              <div class="input_s radius-2 bg-white flex-row  flex-center" style="width:34%;">
                <ion-select [(ngModel)]="LifeStyleMeasureBpPeriod" disabled='{{VisitStatus==2?disabled:false}}'>
                  <ion-select-option value="1">每日</ion-select-option>
                  <ion-select-option value="2">每週</ion-select-option>
                  <ion-select-option value="3">每月</ion-select-option>
                </ion-select>
              </div>

              <div class="margin-5" style="width:3.3rem;">次數</div>

              <input class="input_s radius-2" style="width:34%;" type="number" />

            </div>
          </div>
          <div class=" margin-top-5 flex-row flex-center">
            <input type="radio" name="sex" value="male" class="radio " (click)="LifeStyleMeasureBloodPressure=2" />否
          </div>
        </div>

      </div>
    </div>

    <div class="bg-h padding-bottom-5">
      <div class=" padding-top-20 flex-row flex-center padding-right-40">
        <div class="flex-1"></div>
        <div class="txt-black txt-bold">情緒評估</div>
        <div class=" flex-1 h8 txt-blue  aa" (click)='saveEmotion(visit.LocalId)'>保存</div>
      </div>
      <div class="margin-20">
        <div class="">
          <div>情緒評估:</div>
          <div class=" margin-top-5 flex-row flex-center">
            <ion-checkbox class="radio " [checked]='EmotionAssessmentlist[0].type==true'
              (ionChange)='EmotionAssessmentlist[0].type=$event.detail.checked'
              disabled='{{VisitStatus==2?disabled:false}}'></ion-checkbox>
            正常
          </div>

          <div class=" margin-top-5 flex-row flex-center">
            <ion-checkbox class="radio " [checked]='EmotionAssessmentlist[1].type==true'
              (ionChange)='EmotionAssessmentlist[1].type=$event.detail.checked'
              disabled='{{VisitStatus==2?disabled:false}}'></ion-checkbox>
            焦慮
          </div>

          <div class=" margin-top-5 flex-row flex-center">
            <ion-checkbox class="radio " [checked]='EmotionAssessmentlist[2].type==true'
              (ionChange)='EmotionAssessmentlist[2].type=$event.detail.checked'
              disabled='{{VisitStatus==2?disabled:false}}'></ion-checkbox>
            抑鬱
          </div>

          <div class=" margin-top-5 flex-row flex-center">
            <ion-checkbox class="radio " [checked]='EmotionAssessmentlist[3].type==true'
              (ionChange)='EmotionAssessmentlist[3].type=$event.detail.checked'
              disabled='{{VisitStatus==2?disabled:false}}'></ion-checkbox>
            其他

            <div class="flex-1" *ngIf='EmotionAssessmentlist[3].type==true'>
              <input class="radius-2 other-input" disabled='{{VisitStatus==2?disabled:false}}' maxlength="50"
                placeholder="{{visit.EmotionAssessmentRemarks?visit.EmotionAssessmentRemarks:'輸入最多50字'}}"
                [(ngModel)]='EmotionAssessmentRemarks' style=" width: 100%;" />
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="bg-h1 padding-bottom-5">
      <div class=" padding-top-20 flex-row flex-center padding-right-40">
        <div class="flex-1"></div>
        <div class="txt-black txt-bold">長者其他狀況補充(自上次探訪後)</div>
        <div class=" flex-1 h8 txt-blue  aa" (click)='OtherSupplement(visit.LocalId)'>保存</div>
      </div>
      <div class="margin-20">
        <div class="margin-top-10">
          <div>是否因糖尿病曾經入院?</div>
          <div class=" margin-top-5 flex-row flex-center">
            <div class="flex-row flex-center">
              <input type="radio" name="Other1" value="male" class="radio " checked="{{OtherHospDisbete==1?true:false}}"
                (click)='getOtherHospDisbete(1)' />是</div>

            <div class="flex-row h7-5 flex-1 margin-left-30 flex-center">
              <input class="input_s radius-2" style="width:35%;" type="number"
                placeholder="{{visit.OtherHospDisbeteNoOfDay?visit.OtherHospDisbeteNoOfDay:''}}"
                [(ngModel)]='OtherHospDisbeteNoOfDay' />
              <div class="margin-5" style="width:3.6rem;">日數</div>
            </div>
          </div>
          <div class=" margin-top-5 flex-row flex-center">
            <input type="radio" name="Other1" value="male" class="radio " checked="{{OtherHospDisbete==2?true:false}}"
              (click)='getOtherHospDisbete(2)' />否
          </div>
        </div>

        <div class="margin-top-10">
          <div>是否因高血壓曾經入院?</div>
          <div class=" margin-top-5 flex-row flex-center">
            <div class="flex-row flex-center">
              <input type="radio" name="Other2" value="male" class="radio " checked="{{OtherHospHighBp==1?true:false}}"
                (click)='getOtherHospHighBp(1)' />是</div>

            <div class="flex-row h7-5 flex-1 margin-left-30 flex-center">
              <input class="input_s radius-2" style="width:35%;" type="number"
                disabled='{{VisitStatus==2?disabled:false}}'
                placeholder="{{visit.OtherHospHighBpNoOfDay?visit.OtherHospHighBpNoOfDay:''}}"
                [(ngModel)]='OtherHospHighBpNoOfDay' />
              <div class="margin-5" style="width:3.6rem;">日數</div>
            </div>
          </div>
          <div class=" margin-top-5 flex-row flex-center">
            <input type="radio" name="Other2" value="male" class="radio " checked="{{OtherHospHighBp==2?true:false}}"
              (click)='getOtherHospHighBp(2)' />否
          </div>
        </div>

        <div class="margin-top-10">
          <div>是否因其他疾病曾經入院?</div>
          <div class=" margin-top-5 flex-row flex-center">
            <div class="flex-row flex-center">
              <input type="radio" name="Other3" value="male" class="radio "
                checked="{{visit.OtherHospOtherIllness==1?true:false}}" (click)='getOtherHospOtherIllness(1)' />是</div>

            <div class="flex-row h7-5 flex-1 margin-left-30 flex-center">
              <input class="input_s radius-2" style="width:35%;" type="number"
                placeholder="{{visit.OtherHospOtherIllnessNoOfDay?visit.OtherHospOtherIllnessNoOfDay:''}}"
                [(ngModel)]='OtherHospOtherIllnessNoOfDay' />
              <div class="margin-5" style="width:3.6rem;">日數</div>
            </div>
          </div>
          <div class=" margin-top-5 flex-row flex-center">
            <input type="radio" name="sex" value="Other3" class="radio "
              checked="{{OtherHospOtherIllness==2?true:false}}" (click)='getOtherHospOtherIllness(2)' />否
          </div>
        </div>

        <div class="margin-top-10">
          <div>是否曾發生突發事件(如發生家居意外,在家跌倒等)</div>
          <div class=" margin-top-5 flex-row flex-center">
            <div class="flex-row flex-center">
              <input type="radio" name="Other4" value="male" class="radio " checked="{{OtherAccident==1?true:false}}"
                (click)='getOtherAccident(1)' />是</div>

            <div class="flex-row h7-5 flex-1 margin-left-30 flex-center">
              <input class="input_s radius-2" style="width:35%;" type="number"
                placeholder="{{visit.OtherAccidentNoOfDay?visit.OtherAccidentNoOfDay:''}}"
                [(ngModel)]='OtherAccidentNoOfDay' />
              <div class="margin-5" style="width:3.6rem;">次數</div>
            </div>
          </div>
          <div class=" margin-top-5 flex-row flex-center">
            <input type="radio" name="Other4" value="male" class="radio " checked="{{OtherAccident==2?'1':''}}"
              (click)='getOtherAccident(2)' />否
          </div>
        </div>

        <div class="margin-top-10">
          <div>有否提出特別需要(如送飯, 入住老人院, 家居維修等)</div>
          <div class=" margin-top-5 ">
            <div class="flex-row flex-center">
              <input type="radio" name="Other5" value="male" class="radio" checked="{{OtherSpecialNeed==1?true:false}}"
                (click)='getOtherSpecialNeed(1)' />是</div>
            <div class=" h7-5 flex-1 margin-left-30 ">
              <!-- <input class="input_s radius-2" placeholder="輸入最多50字" style="width:100%;" maxlength="50"
                  placeholder="{{visit.OtherSpecialNeedService?visit.OtherSpecialNeedService:''}}"
                  [(ngModel)]='OtherSpecialNeedService' /> -->
              <div class="margin-top-5">
                <ion-checkbox class="radio " [checked]='NeedsContenttlist[0].type==true'
                  (ionChange)='NeedsContenttlist[0].type=$event.detail.checked'
                  disabled='{{VisitStatus==2?disabled:false}}'></ion-checkbox> 送飯
              </div>
              <div class="margin-top-5">
                <ion-checkbox class="radio " [checked]='NeedsContenttlist[1].type==true'
                  (ionChange)='NeedsContenttlist[1].type=$event.detail.checked'
                  disabled='{{VisitStatus==2?disabled:false}}'></ion-checkbox> 入住老人院
              </div>
              <div class="margin-top-5">
                <ion-checkbox class="radio " [checked]='NeedsContenttlist[2].type==true'
                  (ionChange)='NeedsContenttlist[2].type=$event.detail.checked'
                  disabled='{{VisitStatus==2?disabled:false}}'></ion-checkbox> 家居維修
              </div>
              <div class="margin-top-5 flex-row flex-center">
                <ion-checkbox class="radio " [checked]='NeedsContenttlist[3].type==true'
                  (ionChange)='NeedsContenttlist[3].type=$event.detail.checked'
                  disabled='{{VisitStatus==2?disabled:false}}'></ion-checkbox> 其他

                <div class="flex-1 margin-left-5" *ngIf='NeedsContenttlist[3].type==true'>
                  <input class="input_s radius-2" placeholder="輸入最多50字" style="width:100%;" maxlength="50"
                    disabled='{{VisitStatus==2?disabled:false}}'
                    placeholder="{{OtherSpecialNeedService?visit.OtherSpecialNeedService:''}}"
                    [(ngModel)]='OtherSpecialNeedService' />
                </div>
              </div>
            </div>
          </div>
          <div class=" margin-top-5 flex-row flex-center">
            <input type="radio" name="Other5" value="male" class="radio " checked="{{OtherSpecialNeed==2?true:false}}"
              (click)='getOtherSpecialNeed(2)' />否
          </div>
        </div>

        <div class="margin-top-10">
          <div>其他狀況:</div>
          <div class="margin-top-5 h7-5">
            <input class="input_s radius-2" placeholder="{{visit.OtherRemarks?visit.OtherRemarks:'輸入最多250字'}}"
              disabled='{{VisitStatus==2?disabled:false}}' maxlength="250" style="width:100%;"
              [(ngModel)]='OtherRemarks' />
          </div>
        </div>
      </div>
    </div>

  </div>




  <div class="flex-row padding-15 flex-center">
    <div class="flex-1"></div>
    <div class="flex-row">
      <div class="txt-blue margin-right-60" (click)='addVisit()'>保存及離開</div>
      <div class="txt-blue" (click)='uploadVisitListWeb()'>上傳</div>
    </div>
    <div class="flex-1"></div>
  </div>

</ion-content>